		<div id="viewmon1">
		
		  <h2>Database Graphs - {{container.Name}}</h2>
                        <div id="pg1_container">
                                <div><h3>PG 1</h3></div>
                                <div id="pg1chart"></div>
                                <div id="pg1legend_container"><div id="pg1legend"></div></div>
                                <div>
                                        <a class="btn btn-primary" ng-click="pg1handleRefresh(refreshTime8h)" ><i class="fa fa-refresh fa-lg"></i>8 hr</a></td>
                                        <a class="btn btn-primary" ng-click="pg1handleRefresh(refreshTime24h)" ><i class="fa fa-refresh fa-lg"></i>1 day</a></td>
                                        <a class="btn btn-primary" ng-click="pg1handleRefresh(refreshTime48h)" ><i class="fa fa-refresh fa-lg"></i>2 day</a></td>
                                        <a class="btn btn-primary" ng-click="pg1handleRefresh(refreshTime1w)" ><i class="fa fa-refresh fa-lg"></i>1 week</a></td>
                                </div>
                        </div>
                        <div>&nbsp </div>
                        <div id="pg2_container">
                                <div><h3>PG 2</h3></div>
                                <div id="pg2chart"></div>
                                <div id="pg2legend_container"><div id="pg2legend"></div></div>
                                <div>
                                        <a class="btn btn-primary" ng-click="pg2handleRefresh(refreshTime8h)" ><i class="fa fa-refresh fa-lg"></i>8 hr</a></td>
                                        <a class="btn btn-primary" ng-click="pg2handleRefresh(refreshTime24h)" ><i class="fa fa-refresh fa-lg"></i>1 day</a></td>
                                        <a class="btn btn-primary" ng-click="pg2handleRefresh(refreshTime48h)" ><i class="fa fa-refresh fa-lg"></i>2 day</a></td>
                                        <a class="btn btn-primary" ng-click="pg2handleRefresh(refreshTime1w)" ><i class="fa fa-refresh fa-lg"></i>1 week</a></td>
                                </div>
                        </div>
		</div>
