		<div id="viewgraph">
			<h2>Server Graphs - {{server.Name}}</h2>
			<div id="chart_container">
				<div><h3>CPU Load</h3></div>
				<div id="chart"></div>
				<div id="legend_container"><div id="legend"></div></div>
				<div>
					<a class="btn btn-primary" ng-click="handleRefresh(refreshTime8h)" ><i class="fa fa-refresh fa-lg"></i>8 hr</a></td>
					<a class="btn btn-primary" ng-click="handleRefresh(refreshTime24h)" ><i class="fa fa-refresh fa-lg"></i>1 day</a></td>
					<a class="btn btn-primary" ng-click="handleRefresh(refreshTime48h)" ><i class="fa fa-refresh fa-lg"></i>2 day</a></td>
				</div>
			</div>
			<div>&nbsp </div>
			<div id="memchart_container">
				<div><h3>Memory Usage</h3></div>
				<div id="memchart"></div>
				<div id="memlegend_container"><div id="memlegend"></div></div>
				<div>
					<a class="btn btn-primary" ng-click="memhandleRefresh(refreshTime8h)" ><i class="fa fa-refresh fa-lg"></i>8 hr</a></td>
					<a class="btn btn-primary" ng-click="memhandleRefresh(refreshTime24h)" ><i class="fa fa-refresh fa-lg"></i>1 day</a></td>
					<a class="btn btn-primary" ng-click="memhandleRefresh(refreshTime48h)" ><i class="fa fa-refresh fa-lg"></i>2 day</a></td>
				</div>
			</div>

		</div>


