<p><strong>Access Rules</strong></p>
<form class="form-horizontal">
    <div class="form-group">
        <div ng-repeat="car in cars">
            <input type="checkbox" ng-true-value="'true'" ng-false-value="'false'" ng-model="car.Selected">&nbsp;<a ui-sref="rules.detail({ruleId:car.AccessRuleName})">{{car.AccessRuleName}}</a>
        </div>
        <p></p>
        <button type="submit" ng-click="save()" class="btn btn-primary">Save</button>

        <span us-spinner spinner-key="spinner-1"></span>
    </div>
</form>

<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

<div ui-view class="slide"></div>
