<form class="form-horizontal">

    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

    <div class="form-group">
        <label for="inputEnabled" class="control-label col-xs-2">Enabled</label>
        <div class="col-xs-1">
            <input type="checkbox" class="form-control" id="inputEnabled" ng-model="thething.checked">
        </div>
    </div>

    <div class="form-group">
        <label for="inputProf" class="control-label col-xs-2">Task</label>
        <div class="col-xs-3">
            <select type="text" class="form-control" id="inputProf" ng-model="currentProfileName"
            ng-options="profile.name for profile in profiles">
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="inputHours" class="control-label col-xs-2">Hours</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" id="inputHours" placeholder="1" ng-model="schedule.Hours">
        </div>
    </div>
    <div class="form-group">
        <label for="inputMinutes" class="control-label col-xs-2">Minutes</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" id="inputMinutes" placeholder="14" ng-model="schedule.Minutes">
        </div>
    </div>
    <div class="form-group">
        <label for="inputMonth" class="control-label col-xs-2">Month</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" id="inputMonth" placeholder="*" ng-model="schedule.Month">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDayOfMonth" class="control-label col-xs-2">DayOfMonth</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" id="inputDayOfMonth" placeholder="14" ng-model="schedule.DayOfMonth">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDayOfWeek" class="control-label col-xs-2">DayOfWeek</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" id="inputDayOfWeek" placeholder="4" ng-model="schedule.DayOfWeek">
        </div>
    </div>

    <div class="form-group">
        <label for="inputServer" class="control-label col-xs-2">Servers</label>
        <div class="col-xs-5">
            <input disabled type="text" class="form-control" id="inputServer"  ng-model="schedule.Serverip">
        </div>
    </div>

    <hr>
    <div ng-show="currentProfileName.name == 'pg_backrest_restore'">
        <div class="form-group">
            <H4>Restore Parameters</H4>
        </div>
        <div class="form-group">
            <label for="inputRestoreSet" class="control-label col-xs-2">Set</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="inputRestoreSet" placeholder="latest"
                ng-model="schedule.RestoreSet">
            </div>
        </div>
        <div class="form-group">
            <label for="inputRestoreRemotePath" class="control-label col-xs-2">Remote Path</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="inputRestoreRemotePath" placeholder="latest"
                ng-model="schedule.RestoreRemotePath">
            </div>
        </div>
        <div class="form-group">
            <label for="inputRestoreRemoteHost" class="control-label col-xs-2">Remote Host</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="inputRestoreRemoteHost" placeholder="value"
                ng-model="schedule.RestoreRemoteHost">
            </div>
        </div>
        <div class="form-group">
            <label for="inputRestoreRemoteUser" class="control-label col-xs-2">Remote User</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="inputRestoreRemoteUser" placeholder="value"
                ng-model="schedule.RestoreRemoteUser">
            </div>
        </div>
        <div class="form-group">
            <label for="inputRestoreDbUser" class="control-label col-xs-2">DB User</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="inputRestoreDbUser" placeholder="value"
                ng-model="schedule.RestoreDbUser">
            </div>
        </div>
        <div class="form-group">
            <label for="inputRestoreDbPass" class="control-label col-xs-2">DB Password</label>
            <div class="col-xs-5">
                <input type="password" class="form-control" id="inputRestoreDbPass" placeholder="value"
                ng-model="schedule.RestoreDbPass">
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-xs-5">
            <button type="submit" ng-click="save()" class="btn btn-primary">Save</button>
        </div>
    </div>


</form>
