<div id="viewrepl">
	<p style="font-family: Arial, Helvetica, sans-serif;">This page allows you to run a simple load test.</p>
	<h1>{{container.Name}}</h1>
	<div>
		<p  style="font-family: Arial, Helvetica, sans-serif;">Max Inserts for Test <input type="text" ng-model="slidervalue"/></p>
	<span us-spinner spinner-key="spinner-1"></span>
	</div>
	<div class="datagrid">
		<table class="table">
			<thead>
				<th>OPERATION</th>
				<th>COUNT</th>
				<th>ELAPSED (ms)</th>
			</thead>
			<tbody>

				<tr ng-repeat="x in loadtestresults">
					<td>{{x.Operation}}</td>
					<td>{{x.Count}}</td>
					<td>{{x.Results}}</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>
<a class="btn btn-primary" ng-click="refresh()"><i class="fa fa-refresh fa-lg"></i>Refresh</a>

