
	<form class="form-horizontal">
		<div class="form-group">
			<label for="inputName" class="control-label col-xs-2">Name</label>
			<div class="col-xs-5">
				<input disabled type="text" class="form-control" id="inputName" ng-model="cluster.Name">
			</div>
		</div>
		<div class="form-group">
			<label for="inputDesc" class="control-label col-xs-2">Repl Type</label>
			<div class="col-xs-5">
				<input disabled type="text" class="form-control" id="inputDesc" ng-model="cluster.ClusterType">
			</div>
		</div>
		<div class="form-group">
			<label for="inputStatus" class="control-label col-xs-2">Status</label>
			<div class="col-xs-5">
				<input disabled type="text" class="form-control" id="inputStatus" ng-model="cluster.Status">
			</div>
		</div>
	</form>

	<p><strong>Containers</strong></p>
	<ul>
		<li ng-repeat="(id, name) in cluster.Containers">
		<a ui-sref="projects.container.details({containerId:id})">{{name}}</a>
		</li>
	</ul>
