<div style="border:0px" id="viewstatdb">
	<p style="font-family: Arial, Helvetica, sans-serif;">This page shows pg_settings values.</p>
	<h1>{{container.Name}}</h1>
	<div class="datagrid">

		<table class="table">
			<thead>
				<th>NAME</th>
				<th>CURRENT SETTING</th>
				<th>SOURCE</th>
			</thead>
			<tbody>

				<tr ng-repeat="x in settingsresults">
					<td>{{x.Name}}</td>
					<td>{{x.CurrentSetting}}</td>
					<td>{{x.Source}}</td>
				</tr>

			</tbody>
		</table>
	</div>
	<a class="btn btn-primary" ng-click="refresh()" ><i class="fa fa-refresh fa-lg"></i>Refresh</a>
