button.medblueaddbutton {
background: #00a7e9 url("../images/icon-add.png") no-repeat 15px center;
width: 200px;
border-radius: 10px;
-webkit-background-clip: padding;
-webkit-appearance: button;
 background-clip: padding-box;
 border: none;
height: 75px;
font-size: 27px;
color: #fff;
padding: 0 0 0 75px;
text-align: left;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1 {
	font-family: sans-serif;
}

li {
	font-family: sans-serif;
    float: left;
    border: 1px solid white;
    border-bottom-width: 0;
    margin: 1px 1px 0px 1px;
    padding: 0px 0px 0px 0px;
    background-color:  #00a7e9;
    color: white;
    width: 100px;
    height: 40px;
}
li:last-child {
	border:none;
}

#mainView {
 border: 1px solid black;
	clear: both;
	padding: 0 1em;
}
.active {
    background-color: #D0D4D6;
    color: black;
}


li {
    font-size: 18;
    font-family: monospace, serif;
}

p {
    font-family: monospace, serif;
}

.outsidediv {
    background-color: #D0D4D6;
}

.datagrid table {
    border-collapse: collapse; text-align: left; width: 80%;
}
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px;
}
.datagrid table td, .datagrid table th {
    padding: 3px 10px;
}
.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000305), color-stop(1, #00090D) );background:-moz-linear-gradient( center top, #000305 5%, #00090D 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000305', endColorstr='#00090D');background-color:#000305; color:#FFFFFF; font-size: 18px; font-weight: bold; border-left: 1px solid #0070A8;
}
.datagrid table thead th:first-child {
    border: none;
}
.datagrid table tbody td {
    color: #008AC9; border-left: 1px solid #5E6366;font-size: 18px;font-weight: bold;
}
.datagrid table tbody td:first-child {
    border-left: none;
}
.datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.datagrid table tfoot td div {
    border-top: 1px solid #006699;background: #E1EEf4;
}
.datagrid table tfoot td {
    padding: 0; font-size: 12px
}
.datagrid table tfoot td div{
    padding: 2px;
}
.datagrid table tfoot td ul {
    margin: 0; padding:0; list-style: none; text-align: right;
}
.datagrid table tfoot  li {
    display: inline;
}
.datagrid table tfoot li a {
    text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #006699;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699;
}
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
    text-decoration: none;border-color: #00557F; color: #FFFFFF; background: none; background-color:#006699; 
}
div.dhtmlx_window_active, div.dhx_modal_cover_dv {
    position: fixed !important;
}


.logo {
  width: 270px;
  background-color: #fff;
  float: left;
  height: 100px;
  position: top;
  background: url("../images/logo.png") no-repeat center top;
}


    

/*  Generated by www.menucool.com/horizontal/tab-menu  */



/* main menu
 *
 * --------------------------------------------*/

ul#tabmenu

{

    width:100%;

    margin: 0 auto; /*If the menu has a width, this "margin:0 auto;" makes the menu center-aligned. You can remove it for left-alignment, or change it to "margin-left:auto; margin-right:0;" for right-alignment.*/

    text-align:center;

    list-style:none;

    padding:0;

    font-size:0;

    position:relative;

    min-height:80px;

}

ul#tabmenu:after

{

    content:'.'; height: 0; clear: both; display: block; visibility: hidden;

}

        

ul#tabmenu li

{

    display:inline;

    list-style:none; padding:0;

    margin-top:0;margin-bottom:0;

    margin-left:1px;margin-right:2px;

}

        

/*Main menu links*/

ul#tabmenu li a

{

    letter-spacing:normal;

    color:#FFFFFF;

    padding:0 14px;

    line-height:44px;

    font-size:18px;

    font-weight:bold;

    font-family:Arial;

    text-decoration:none;

    display:inline-block; 

    outline:0;

    

    border:1px solid #000000;

    border-bottom:none;

    background:#00a7e9;

    position:relative;

    top:1px;

    z-index:4;  

    border-radius:4px 4px 0 0;

}

/* If you've set the menu's javascript file with { preview:false }, you may want to specify the following hovered tab styles     
 *
 * ul#tabmenu li a:hover {
 *
 *     color: red;
 *
 *         background: black;
 *
 *         }*/



ul#tabmenu li.active a

{

    padding-bottom:1px;

    background: #F3F7FD;

    color:#244D8A;

}



/* You can set active tab's style when hovered
 *
 * ul#tabmenu li.active a:hover {
 *
 *     color:green;
 *
 *     }*/

        

/* Secondary level sub-menu
 *
 * ----------------------------------------------------------*/

ul#tabmenu li.active ul, ul#tabmenu>li:first-child>ul

{

    display:block;

    text-align:center;

    margin:0;

    padding:0;

    border:1px solid #000000;    

    float:left;

    width:100%;

    z-index:3;

    border-radius:3px;

}

        

ul#tabmenu li ul

{

    display: none;

    letter-spacing:normal;

    background:#F3F7FD;

}    

ul#tabmenu li li

{

    margin-left: 0px;

}

     

/*Sub-menu links*/

ul#tabmenu ul li a

{

    color:#244D8A;

    padding:0;

    padding-left:15px;padding-right:15px; 

    font-size:12px;

    font-weight:normal;

    font-family:Arial;

    line-height:36px;

    margin: 0; border: 0; top: 0;

    background: transparent;

}

ul#tabmenu li.active li a, ul#tabmenu li.active li a:hover {

    color:#244D8A;

    border: 0;

    background: transparent;

}



ul#tabmenu ul li.subActive a, ul#tabmenu ul li a:hover

{

    text-decoration: underline;

    color:#0066CC;

}

  

ul#tabmenu li.dummy a

{

    display:none;    

}



/*Third-level sub menu
 *
 * ------------------------------------------------------------*/

ul#tabmenu ul li li

{

    font-size:12px;

}

/* links */

ul#tabmenu ul li li a

{

    line-height:22px;

    padding: 0; 

    white-space: nowrap;

    font-size:12px;

    font-weight:normal;

    font-family:Arial;

}

/* non-active links */

ul#tabmenu ul li.subActive li a

{

    color:#244D8A;

    text-decoration: none;

}

/* active link */

ul#tabmenu ul li.subActive li.subActive a, ul#tabmenu ul li.subActive li a:hover

{

    color:#0066CC;

    text-decoration: underline;

}



ul#tabmenu li.active li li

{

    display: block;

    *clear:both;/*IE hack*/

}



ul#tabmenu li.active ul ul

{

    text-align:left;

    padding:4px 24px 10px 24px;

    left: 0px; /*offset*/

    width: auto;

    background:#F3F7FD;

    border:1px solid #000000;

    border-top: 0;

    *top: 36px;

    display: none;

    position: absolute;

    z-index: 4;

    border-radius: 0 0 4px 4px;

}

ul#tabmenu li.active li

{

    position: relative;

}

