#veil {
        position: absolute;
        top: 0;
        left: 0;
        height:100%;
        width:100%;
        cursor: not-allowed;
        filter: alpha(opacity=60);
        opacity: 0.6;
        background: #000000 url("../images/Hippo.png") no-repeat center;
}
#feedLoading {
        position: absolute;
        top:200px;
        width:100%;
        text-align: center;
        font-size: 4em;
        color:white;
        text-shadow: 2px 2px 2px #021124;
}

.ng-table tr.emphasis td {
	background-color: #DDD;
	font-weight: bold;
}

.myactive {
	  color: #00a8e9;
}
.myrole span {
	 padding: 0 10px;
	 border-right: solid 2px #b0b0b0;
	 font-size: 18px;
	 font-weight: 700;
}
.myrole span:last-child {
	border: none;
	padding: 0 0 0 10px;
}

table.table1 {
	width: 80%;
	border: 1px solid #c0c0c0;
}

.backuptable {
	width: 100%;
	padding: 10px;
	border-collapse:collapse;
	text-align: center;
	border: 1px solid #c0c0c0;
}
.backuptd  {
	width: 10px;
	height: 10px;
	border: 1px solid #c0c0c0;
	padding: 5px;
}


.navbar-brand img {
	height: 42px;
}


table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 12;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 12;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

a {
	cursor: pointer;
}

a {
	cursor:hand;
}

a.disabled {
	color: #AAAAAA;
	cursor: default;
	pointer-events: none;
	text-decoration: none;
}

