  <div ng-controller="GetClusterController as gsc">
  	<table style="background-color: white; width:100%">
  		<tr>
  			<td valign="top" bgcolor="white" width="10%">
  				<table style="background-color: white;width:200px;">
  					<tr style="background-color: white; color: gray;">
  						<td align="center">
  						</td>
  					</tr>
  				</table>

  				<ul ng-controller="GACController as gas" style="overflow:hidden; overflow-y:scroll;height:300px; width:200px;"
  				class="nav nav-pills nav-stacked">
  				<li ng-repeat="result in results" ng-class="{ active:isSelected3(result.ID) }"><a href="" ng-click="selectTab3(result)">{{result.Name}}</a></li>
  				</ul>
  		</td>

  		<td width="3%">
  			&nbsp;
  		</td>
  		<!-- CONTENT GOES IN THIS TD -->
  		<td width="70%" valign="top" >
			<table>
			<tr>
			<td>
				<h3>Clusters</h3>
			</td>
			<td>&nbsp;</td>
			<td>
  			<div class="btn-group" dropdown is-open="status.isopen">
  				<button style="height:32px" type="button" class="btn btn-danger dropdown-toggle" ng-disabled="disabled">
  					<span class="fa fa-navicon"></span>      
  				</button>
  				<ul class="dropdown-menu" role="menu">
  					<li><a ng-click="handleAutoClick()" href="#/clusters"><i class="fa fa-cubes fa-fw"></i>Automatic Cluster</a></li>
  					<li><a ng-click="handlePlusClick()" href="#/clusters"><i class="fa fa-plus fa-fw"></i>Define New Cluster</a></li>
  					<li><a ng-click="handleMinusClick()" href="#/clusters"><i class="fa fa-trash-o fa-fw"></i>Delete Cluster</a></li>
  					<li><a ng-click="addNewContainer()" href="#/clusters"><i class="fa fa-plug fa-fw"></i>Add Container to Cluster</a></li>
  					<li><a ng-click="handleConfigureClick()" href="#/clusters"><i class="fa fa-gear fa-fw"></i>Configure Cluster</a></li>
  				</ul>
			</div></td>
			</tr>
			</table>

  			<table>
  				<tr>
  					<td>
  						<h4>Name</h4>
  						<input class="form-control" name="name" type="text" ng-model="results.Name" size="10">
  					</td>
  					<td>&nbsp;&nbsp;
  					</td>
  					<td>
  						<h4>Replication Type</h4>
  						<input class="form-control" name="clustertype" type="text" ng-model="results.ClusterType" size="10">
  					</td>
  				</tr>

  				<tr>
  					<td>
  						<h4>Status</h4>
  						<input class="form-control" name="status" type="text" ng-model="results.Status" size="20">
  					</td>
  					<td>&nbsp;&nbsp;
  					</td>
  					<td>
  					</td>
  				</tr>

  				<tr>
  					<td>
  						<h4>Containers</h4>
  					</td>
  				</tr>
  			</table>
  			<div ng-controller="GetAllContainersForClusterController as getAllContainersCtrl">
  				<table ng-table="tableParams" template-pagination="custom/pager" class="table1">
  					<tr ng-repeat="result in $data">
  						<td style="width: 130px">{{result.Name}}</td>
  						<td style="width: 45px">
  							<div class="myrole">
  								<span ng-class="{myactive: result.Role == 'master'}">{{result.Role}}</span>
  							</div>
  						</td>
  						<td style="width: 30px">
							<a tooltip="trigger failover" style="color:red" ng-if="result.Role == 'standby'" ng-click="failover(result)"><i class="fa fa-life-ring"></i></a>
  						</td>
  					</tr>
  				</table>
  			</div>
  		</td>
  	</tr>

  	<script type="text/ng-template" id="ng-table/headers/checkbox.html">
  	<input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
  	</script>

  	<script type="text/ng-template" id="custom/pager">
  	</script>

  	<div id="veil" ng-show="isLoading"></div>
  	<div id="feedLoading" ng-show="isLoading">Working...</div>

  </table>
</div>
