<div class="modal-header">
	<h1 id="myModalLabel">Configure Cluster</h1>
</div>


<div class="modal-body">
	Confirm that you want to start replication on cluster <b>{{$parent.value.Name}}</b>!
</div>

<div id="veil" ng-show="$parent.isLoading"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></div>
<div id="feedLoading" ng-show="$parent.isLoading"></div>

<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="ok()">Configure</button>
	<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
</div>

