  <div ng-controller="GetContainerController as gsc">
  	<table style="background-color: white; width:100%">
  		<tr>
  			<td valign="top" bgcolor="white" width="10%">
  				<table style="background-color: white;width:200px;">
  					<tr style="background-color: white; color: gray;">
  						<td align="center">
  							
  						</td>
  					</tr>
  				</table>

  				<ul ng-controller="GetAllContainersController as gas" style="overflow:hidden; overflow-y:scroll;height:300px; width:200px;"
  				class="nav nav-pills nav-stacked">
  				<li ng-repeat="result in results" ng-class="{ active:isSelected2(result.ID) }"><a href="" ng-click="selectTab2(result)">{{result.Name}}</a></li>
  			</ul>
  		</td>

  		<td width="3%">
  			&nbsp;
  		</td>
  		<!-- CONTENT GOES IN THIS TD -->
  		<td width="70%" valign="top" >
			<table>
			<tr>
				<td>
  			<h3>Containers</h3>
				</td>
				<td>&nbsp;</td>
				<td>
  			<div class="btn-group" dropdown is-open="status.isopen">
  				<button style="height:32px" type="button" class="btn btn-danger dropdown-toggle" ng-disabled="disabled">
  					<span class="fa fa-navicon"></span>      
  				</button>

  				<ul class="dropdown-menu" role="menu">
  					<li><a ng-click="handlePlusClick()" href="#/containers"><i class="fa fa-plus fa-fw"></i>Add Container</a></li>
  					<li><a ng-click="handleMinusClick()" href="#/containers"><i class="fa fa-trash-o fa-fw"></i>Delete Container</a></li>
  					<li ng-if="isRunning"><a ng-click="handleMonitorClick()" href="#/containers"><i class="fa fa-bar-chart fa-fw"></i>Monitor Database</a></li>
  					<li ng-if="isFound" ><a ng-click="handleBackupClick()" href="#/containers"><i class="fa fa-wrench fa-fw"></i>Admin Tasks</a></li>
  					<li ng-if="isFound && isRunning == false"><a ng-click="handleStart()" href="#/containers"><i class="fa fa-play fa-fw"></i>Start Database</a></li>
  					<li ng-if="isRunning"><a ng-click="handleStop()" href="#/containers"><i class="fa fa-stop fa-fw"></i>Stop Database</a></li>
  				</ul>
  			</div>

				</td>
			</tr>
			</table>

  			<table>
  				<tr>
  					<td width="40%">
  						<h4>Name</h4>
  						<input class="form-control" name="name" type="text" ng-model="results.Name" size="10">
  					</td>
  					<td width="5%">&nbsp;&nbsp;
  					</td>
  					<td width="40%">
  						<h4>Image</h4>
  						<input class="form-control" name="image" type="text" ng-model="results.Image" size="20">
  					</td>
  				</tr>

  				<tr>
  					<td width="30%">
  						<h4>Cluster</h4>
  						<input class="form-control" name="cluster" type="text" ng-model="myCluster.Name" size="10">
  					</td>
  					<td width="5%">&nbsp;&nbsp;
  					</td>
  					<td width="40%">
  						<h4>Server</h4>
  						<input class="form-control" name="server" type="text" ng-model="myServer.Name" size="10">
  					</td>
  				</tr>

  				<tr>
  					<td width="30%">
  						<h4>Role</h4>
  						<input disabled class="form-control" name="role" type="text" ng-model="results.Role" size="10">
  					</td>
  					<td>&nbsp;&nbsp;
  					</td>
  					<td width="40%">
  						<h4>DB Status</h4>
  						<input disabled class="form-control" name="status" type="text" ng-model="results.Status" size="10">
  					</td>
  				</tr>
  				<tr>
  					<td width="5%">&nbsp;</td>
  				</tr>

  			</table>
  		</td>
  	</tr>

  	<div id="veil" ng-show="$rootScope.isLoading"></div>
  	<div id="feedLoading" ng-show="$rootScope.isLoading">Working...</div>

  </table>
</div>
