<div class="modal-header">
	<h1>Delete Schedule</h1>
</div>

<div class="modal-body">
	Confirm that you want to delete schedule {{$parent.value.Name}}!
</div>

<div id="veil" ng-show="$parent.isLoading"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></div>
<div id="feedLoading" ng-show="$parent.isLoading"></div>

<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="ok()">Delete</button>
	<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
	<alert ng-repeat="alert in alerts" type="danger">{{alert.msg}}</alert>
</div>

