<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="panel panel-info">
			<div class="panel-heading">
				<div class="panel-title">Sign In</div>
			</div>

			<div class="panel-body">

				<alert ng-repeat="alert in alerts" type="{{alert.type}}">{{alert.msg}}</alert>

				<form class="form-horizontal" ng-controller="LoginController" >
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input class="form-control" type="text" ng-model="login.user_id" name="user_id" placeholder="User Id"/>
					</div>
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
						<input class="form-control" type="password" ng-model="login.password" name="password" placeholder="Password"/>
					</div>
					<div style="margin-bottom: 25px" class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-cloud"></i></span>
						<input class="form-control" type="text" ng-model="admin_url" name="admin_url" placeholder="Admin URL" />
						<div class="input-group-btn" dropdown>
							<button type="button" class="btn btn-default dropdown-toggle form-control" data-toggle="dropdown"ng-disabled="urls == null">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right" role="menu">
								<li ng-repeat="url in urls"><a href="#">{{url}}</a></li>
							</ul>
						</div>
					</div>

					<div class="input-group">
						<button type="submit" class="btn btn-primary" ng-click="submit()">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
