		<div id="viewrepl">
			<p style="font-family: Arial, Helvetica, sans-serif;">This page shows pg_stat_replication values.</p>
			<h1>{{container.Name}}</h1>
			<div class="datagrid">

                <table class="table">
                    <thead>
                        <th>PID</th>
                        <th>USESYSID</th>
                        <th>USENAME</th>
                        <th>APPNAME</th>
                        <th>CLIENTADDR</th>
                        <th>CLIENTHOST</th>
                        <th>CLIENTPORT</th>
                        <th>BACKEND START</th>
                    </thead>
                    <tbody>

                     <tr ng-repeat="x in statreplresults">
                      <td>{{x.pid}}</td>
                      <td>{{x.usesysid}}</td>
                      <td>{{x.usename}}</td>
                      <td>{{x.application_name}}</td>
                      <td>{{x.client_addr}}</td>
                      <td>{{x.client_hostname}}</td>
                      <td>{{x.client_port}}</td>
                      <td>{{x.backend_start}}</td>
                  </tr>

              </tbody>
          </table>
          <table class="table">
            <thead>
                <th>STATE</th>
                <th>SENT LOC</th>
                <th>WRITE LOC</th>
                <th>FLUSH LOC</th>
                <th>REPLAY LOC</th>
                <th>SYNC PRIO</th>
                <th>SYNC STATE</th>
            </thead>
            <tbody>

             <tr ng-repeat="x in statreplresults">
              <td>{{x.state}}</td>
              <td>{{x.sent_location}}</td>
              <td>{{x.write_location}}</td>
              <td>{{x.flush_location}}</td>
              <td>{{x.replay_location}}</td>
              <td>{{x.sync_priority}}</td>
              <td>{{x.sync_state}}</td>
          </tr>

      </tbody>
  </table>
</div>
<a class="btn btn-primary" ng-click="handleRefresh()" ><i class="fa fa-refresh fa-lg"></i> Refresh</a>

