                <div id="viewrepl">
                    <p style="font-family: Arial, Helvetica, sans-serif;">This page allows you to run a simple load test.</p>
                    <h1>{{container.Name}}</h1>
                    <div>
                        <p  style="font-family: Arial, Helvetica, sans-serif;">1000<slider class="sliderholder" ng-model-low="slidervaluelow" ng-model-high="slidervaluehigh" floor="1000" ceiling="10000" step="500" ng-model="slidervalue"></slider>10000</p>
                    </div>
                    <div id="veil" ng-show="$parent.isLoading"></div>
                    <div id="feedLoading" ng-show="$parent.isLoading">Working...</div>
                    <div>
                        <p  style="font-family: Arial, Helvetica, sans-serif;">Max Inserts for Test {{slidervalue}}</p>
                    </div>
                    <div class="datagrid">
                        <table class="table">
                            <thead>
                             <th>OPERATION</th>
                             <th>COUNT</th>
                             <th>ELAPSED (ms)</th>
                         </thead>
                         <tbody>

                            <tr ng-repeat="x in loadtestresults">
                                <td>{{x.Operation}}</td>
                                <td>{{x.Count}}</td>
                                <td>{{x.Results}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div id="veil" ng-show="isLoading"></div>
                <div id="feedLoading" ng-show="isLoading">Working...</div>
            </div>
	    <a class="btn btn-primary" ng-click="handleRefresh()"><i class="fa fa-refresh fa-lg"></i> Refresh</a>
