	 <div class="modal-header">
		 <h1>Update Schedule for {{$parent.value.Name}}</h1>
	 </div>
	 <div class="modal-body">
	 	<form class="equal">
	 		<table width="200px">
	 			<tr>
	 				<td>
	 					<h4>Name</h4>
	 					<input  class="form-control" type="text" id="Name" name="Name" ng-model="$parent.value.Name">
	 				</td>
	 			</tr>
	 		</table>

	 		
	 		<div id="veil" ng-show="$parent.isLoading"><i class="fa fa-circle-o-notch fa-spin fa-3x"></i></div>
	 		<div id="feedLoading" ng-show="$parent.isLoading"></div>
	 		
	 	</form>
	 </div>

	 <div class="modal-footer">
	 	<button type="button" class="btn btn-primary" ng-click="ok()">Save</button>
	 	<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
	 	<alert ng-repeat="alert in alerts" type="danger">{{alert.msg}}</alert>
	 </div> 
