<p><strong>Containers</strong></p>
<ul>
<a ui-sref="servers.detail.containers.start()"><i class="fa fa-play fa-fw"></i>Start Containers</a>
<a ui-sref="servers.detail.containers.stop()"><i class="fa fa-stop fa-fw"></i>Stop Containers</a>
</ul>

<div ui-view class="slide"></div>

 <ul>
	 <li ng-repeat="container in containers"> 

  	<a ng-if="container.Image == 'cpm-node-proxy'" ui-sref="projects.detail.gotoproxy({containerName:container.Name,projectId:container.ProjectID,containerId:container.ID})">{{container.Name}}</a>
	<a ng-if="container.Image == 'cpm-node'" ui-sref="projects.detail.gotocontainer({projectId:container.ProjectID,containerId:container.ID})">{{container.Name}}</a>

	 </li>
</ul>


