<div style="border:0px" id="viewstatdb">
	<p style="font-family: Arial, Helvetica, sans-serif;">This page shows pg_stat_database values.</p>
	<h1>{{container.Name}}</h1>
	<div class="datagrid">

		<table class="table">
			<thead>
				<th>DATABASE</th>
				<th>BLOCKS READ</th>
				<th>RETURNED</th>
				<th>FETCHED</th>
				<th>INSERTED</th>
				<th>UPDATED</th>
				<th>DELETED</th>
				<th>STATS RESET</th>
			</thead>
			<tbody>

				<tr ng-repeat="x in statdbresults">
					<td>{{x.Datname}}</td>
					<td>{{x.BlksRead}}</td>
					<td>{{x.TupReturned}}</td>
					<td>{{x.TupFetched}}</td>
					<td>{{x.TupInserted}}</td>
					<td>{{x.TupUpdated}}</td>
					<td>{{x.TupDeleted}}</td>
					<td>{{x.StatsReset}}</td>
				</tr>

			</tbody>
		</table>
	</div>
	<a class="btn btn-primary" ng-click="refresh()" ><i class="fa fa-refresh fa-lg"></i>Refresh</a>

