<form class="form-horizontal">


    <div class="form-group">
        <label for="inputName" class="control-label col-xs-2">Name</label>
        <div class="col-xs-5">

            <input type="text" class="form-control" id="inputName" ng-model="rule.Name">

        </div>
    </div>
    <div class="form-group">
        <label for="inputDesc" class="control-label col-xs-2">Description</label>
        <div class="col-xs-5">

            <input type="text" class="form-control" id="inputDesc" ng-model="rule.Description">

        </div>
    </div>
    <div class="form-group">
        <table>
            <th>Type</th>
            <th>Database</th>
            <th>User</th>
            <th>Address</th>
            <th>Method</th>
            <tr>
                <td>
                        <select class="form-control" ng-model="rule.Type">
                            <option value="host" selected>host</option>
                            <option value="local">local</option>
                            <option value="hostssl">hostssl</option>
                            <option value="hostnossl">hostnossl</option>
                        </select>
                </td>
                <td>
            		<input type="text" class="form-control" id="inputDatabase" ng-model="rule.Database">
                </td>
                <td>
            		<input type="text" class="form-control" id="inputUser" ng-model="rule.User">
                </td>
                <td>
            		<input type="text" class="form-control" id="inputAddress" ng-model="rule.Address">
                </td>
                <td>
                <select class="form-control" ng-model="rule.Method">
                    <option value="md5">md5</option>
                    <option value="trust">trust</option>
                </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <span us-spinner spinner-key="spinner-1"></span>
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" ng-click="save()" class="btn btn-primary">Save</button>
        </div>
    </div>

    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>

</form>
