[Unit]
Description=cpmserverapi
After=network.target

[Service]
Type=simple
TimeoutSec=120
User=root
Group=root

Environment="PATH=/var/cpm/bin:/usr/pgsql-9.4/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin"
SyslogIdentifier=cpmserverapi


ExecStart=/var/cpm/bin/start-cpmserverapi.sh
ExecReload=/var/cpm/bin/reload-cpmserverapi.sh
ExecStop=/bin/killall cpmserverapi

[Install]
WantedBy=multi-user.target

