[Unit]
Description=postgresql database server
After=network.target

[Service]
Type=forking
TimeoutSec=120
User=postgres
Group=postgres
Environment="PATH=/var/cpm/bin:/usr/pgsql-9.4/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin"
SyslogIdentifier=postgresql

ExecStart=/usr/pgsql-9.4/bin/pg_ctl -w -D /pgdata start
ExecReload=/usr/pgsql-9.4/bin/pg_ctl -s -D /pgdata reload
ExecStop=/usr/pgsql-9.4/bin/pg_ctl -s -D /pgdata stop -m fast

# Due to PostgreSQL's use of shared memory, OOM killer is often overzealous in
# killing Postgres, so adjust it downward
OOMScoreAdjust=-200

[Install]
WantedBy=multi-user.target

