<form class="form-horizontal">

	<div class="form-group">
		<label for="inputPassword" class="control-label col-xs-2">Password</label>
		<div class="col-xs-5">

			<input type="password" class="form-control" id="inputPassword" ng-model="Password">

		</div>

	</div>
	<div class="form-group">
		<label for="inputConfirmPassword" class="control-label col-xs-2">Confirm Password</label>
		<div class="col-xs-5">

			<input type="password" class="form-control" id="inputPassword" ng-model="ConfirmPassword">

		</div>

	</div>

	<div class="form-group">
		<div class="col-xs-offset-2 col-xs-10">
			<button type="submit" ng-click="changepsw()" class="btn btn-primary">Save</button>
		</div>
	</div>

</form>
