<p><strong>Create DB Proxy</strong></p>
<div>
    <form name="pForm" class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="control-label col-xs-4">Name</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="inputName" ng-model="container.Name"
                ng-pattern="/^[a-z0-9.-]*$/" />
            </div>
        </div>
        <div class="form-group">
            <label for="inputUserID" class="control-label col-xs-4">Database User ID</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="inputUserID" ng-model="proxy.UserID" >
            </div>
        </div>
        <div class="form-group">
            <label for="inputUserPassword" class="control-label col-xs-4">Database User Password</label>
            <div class="col-xs-5">
                <input type="password" class="form-control" id="inputUserPassword" ng-model="proxy.UserPassword" >
            </div>
        </div>
        <div class="form-group">
            <label for="inputDatabaseHost" class="control-label col-xs-4">Database Host</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="inputDatabaseHost" ng-model="proxy.DatabaseHost" >
            </div>
        </div>
        <div class="form-group">
            <label for="inputDatabaseName" class="control-label col-xs-4">Database Name</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="inputDatabaseName" ng-model="proxy.DatabaseName" >
            </div>
        </div>
        <div class="form-group">
            <label for="inputDatabasePort" class="control-label col-xs-4">Database Port</label>
            <div class="col-xs-5">
                <input type="text" class="form-control" id="inputDatabasePort" ng-model="proxy.DatabasePort">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDockerProfile" class="control-label col-xs-4">DockerProfile</label>
            <div class="col-xs-5">
                <select class="form-control" id="inputDockerProfile" ng-model="dockerprofile">
                    <option value="SM" selected>small</option>
                    <option value="MED">medium</option>
                    <option value="LG">large</option>
                </select>
            </div>
        </div>
        <span us-spinner spinner-key="spinner-1"></span>
        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-5">
                <button type="submit" ng-click="add()" class="btn btn-primary" ng-disabled="pForm.$invalid || pForm.$pristine">Create</button>
            </div>
        </div>
        <div>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>

    </form>

    <div ui-view class="slide">
    </div>
</div>
