<html ng-app="cpmApp">

<head>
  <meta charset="UTF-8"/>
  <!-- SCROLLS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/style.css" />
  <link href="./font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- SPELLS -->
  <script src="js/angular.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-cookies.min.js"></script>
  <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
  <script src="js/script.js"></script>
  <script src="js/servers.js"></script>
  <script src="js/containers.js"></script>
  <script src="js/containermonitor.js"></script>
  <script src="js/backups.js"></script>
  <script src="js/clusters.js"></script>
  <script src="js/tools.js"></script>
  <script src="js/settings.js"></script>
  <script src="js/ng-table.js"></script>
  <script src="js/roles.js"></script>
</head>

<!-- define angular controller -->
<body ng-controller="mainController">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
       <a class="navbar-brand" ><img src="images/logo.png"/></a>
     </div>

     <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="#servers"><i class="fa fa-database"></i> Servers</a></li>
      <li><a href="#containers"><i class="fa fa-cloud"></i> Containers</a></li>
      <li><a href="#clusters"><i class="fa fa-exchange"></i> Clusters</a></li>
      <!--li><a href="#tools"><i class="fa fa-wrench"></i> Tools</a></li -->
      <li><a href="#settings"><i class="fa fa-gear"></i> Settings</a></li>
      <li ng-if="cpm_user_id != ''"><a ng-click="doLogout()" href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
  </div>
</nav>

<div>
 &nbsp;
</div>

<div id="main">
  
  <!-- angular templating -->
  <!-- this is where content will be injected -->
  <div ng-view></div>
  
</div>

<footer class="text-center">
  <p>Copyright 2014 <a href="http://crunchydatasolutions.com">Crunchy Data Solutions, Inc.</a></p>
  <p ng-if="cpm_user_id != ''">Logged in as {{$root.cpm_user_id}}</p>
</footer>

</body>

</html>

